<form 
  class="grid grid-cols-1 gap-2"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <mat-form-field appearance="outline">
    <mat-label>title</mat-label>
    <input 
      matInput
      formControlName="title"
    />
    <mat-error *ngIf="isInvalid('title')">task must have title</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>name</mat-label>
    <input 
      matInput 
      formControlName="name"
    />
    <mat-error *ngIf="isInvalid('name')">task must have name</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>description</mat-label>
    <textarea 
      matInput
      formControlName="description"
    ></textarea>
    <mat-error *ngIf="isInvalid('description')">task must have description</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>due date</mat-label>
    <input 
      matInput
      formControlName="dueDate"
      [matDatepicker]="picker"
    />
    <mat-hint>YYYY/MM/DD</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <ng-content></ng-content>
</form>

